{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1 class="text-center" style="margin: 30px">Episode : {{ episode.title }}</h1>
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12">
                <div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <td>{{ episode.id }}</td>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{ episode.title }}</td>
                        </tr>
                        <tr>
                            <th>Numéro</th>
                            <td>{{ episode.number }}</td>
                        </tr>
                        <tr>
                            <th>Synopsis</th>
                            <td>{{ episode.synopsis }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>{{ episode.poster }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('episode_edit', {'id': episode.id}) }}">
                        <button class="btn btn-primary">Editer</button>
                        <div style="margin-top: 10px">{{ include('episode/_delete_form.html.twig') }}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('episode_index') }}">Retour à la liste</a>

{% endblock %}
